<admin-header></admin-header>
<admin-menu></admin-menu>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Paramétres
      <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Paramétres</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <h1> paramétere générale form </h1>
  </section>
</div>

<admin-setting></admin-setting>
<admin-footer></admin-footer>
