
<div class="formee">

  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let voiture of list_Voiture">
      <div class="thumbnail">
        <h4>
          {{voiture.marque_voiture}} {{voiture.date_sortie_voiture}}
          <span class="label label-info info">
                        <span data-toggle="tooltip" title="viewed">257 <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="viewed">3 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
        </h4>
        <div class="col-sm-6 col-md-12  ">
          <img class="img-responsive img-thumbnail img_voiture" src="{{voiture.image_voiture}}" alt="{{voiture.type_voiture}}">
        </div>
        <span class="type_voiture"><h3>{{voiture.type_voiture}}</h3></span>


        <table class="table table-bordered table-striped table-hover">

          <tr class="info">
            <th>Modél </th>
            <td>{{voiture.marque_voiture}}</td>
          </tr>
          <tr class="danger">
            <th>Date de sortie </th>
            <td>{{voiture.date_sortie_voiture}}</td>

          <tr class="warning">
            <th>Nombre de personne </th>
            <td>{{voiture.nombre_personne_voiture}}</td>

          </tr>
          <tr class="active">
            <th>Type de carbirant </th>
            <td>{{voiture.type_carbirant_voiture}}</td>
          </tr>
          <tr class="success">
            <th>Couleur</th>
            <td>{{voiture.couleur_voiture}}</td>
          </tr>
        </table>




        <a routerLink="/detaille_location/{{voiture.id_voiture}}" class="btn btn-primary col-xs-12" role="button">Plus de détailles</a>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
