<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer-col">
        <div class="logofooter"> Casa Location</div>
        <p>Agence de location de véhicules courte et longue durée, un parc nouveau et moderne. Nous proposons une gamme de voitures toutes options, qualité, service, l'amabilité des gens..</p>
        <p><i class="fa fa-map-pin"></i> Siège central : 265, Bd Zerktouni N° 92</p>
        <p><i class="fa fa-phone"></i> Phone +212 6 70 05 86 34 / +212 6 63 12 95 77</p>
        <p><i class="fa fa-envelope"></i> E-mail : sinfotech.sarl@gmail.com  </p>

      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">General Links</h6>
        <ul class="footer-ul">
          <li><a href="#"> Locations</a></li>
          <li><a href="#"> Sur Nous </a></li>
          <li><a href="#"> Contact Nous</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Type Des Voitures</h6>
        <div class="post">
          <p>Voiture à 4 portes et 4 fenêtres, pour quatre ou cinq personnes avec toit fixe. C’est le modèle le plus commun. <span>August 3,2017</span></p>
          <p>Voiture à 2 portes pour deux ou quatre personnes avec toit fixe. Quelquefois, les 2 places à l’arrière sont très petites. <span>August 3,2017</span></p>
          <p>Communément appelé le « Station wagon ». C’est une voiture 4 places ou plus dont le toit se prolonge jusqu’à l’arrière. <span>August 3,2017</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Social Media</h6>
        <ul class="footer-social">
          <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
          <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2016 - All Rights with locationVoitureCasa</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">locationVoitureCasa</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Sur nous</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact Nous</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>
