<div class="container">
<nav-bar></nav-bar>
<slide-show></slide-show>

  <div class="row top-pad">

    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2  text-center">
      <h1 >Sur Casa Location   </h1>
      <p >
        Casa Location
        Agence de location de véhicules courte et longue durée, un parc nouveau et moderne. Nous proposons une gamme de voitures <br> toutes options, qualité, service, l'amabilité des gens..

      </p>
    </div>

<br><br>

  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-4 col-sm-4 text-center">
      <img class="img-circle image" src="../../../assets/images/voiture3.jpg">
      <h3>Familiale</h3>
      <h4> Station wagon</h4>
      <p>
        Communément appelé le « Station wagon ». C’est une voiture 4 places ou plus dont le toit se prolonge jusqu’à l’arrière. L’habitacle communique avec le coffre arrière et les sièges arrière sont rabattables, ce qui est très utile pour le transport de bagages et marchandises. La plupart du temps, ces modèles possèdent un hayon (hatchback). C’est à dire que la vitre arrière fait partie intégrante de la porte du coffre, ce qui facilite le rangement. </p>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <img class="img-circle image" src="../../../assets/images/voiture1.jpg">
      <h3>La voiture sportive</h3>
      <h4>4×4</h4>
      <p>
        Ce n’est pas un type de carrosserie en soi, mais plutôt un style de voiture, souvent du type coupé ou roadster. Elles sont exotiques et axées sur la performance.
        Les moteurs sont très puissants et les systèmes de freinage efficaces. Elles ne sont pas toujours confortables, n’ont souvent que 2 places ainsi que plusieurs angles morts, mais elles font tourner les têtes. </p>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <img class="img-circle image" src="../../../assets/images/voiture2.jpg">
      <h3> Volkswagen</h3>
      <h4>VUS (Véhicules utilitaires sport)</h4>
      <p>
        Ce sont des véhicules pratiques pour la famille, les sportifs et les amateurs de plein air qui veulent de l’espace pour transporter leur équipement. Habituellement, ce type de véhicule possède quatre roues motrices, ce qui permet de rouler sur des terrains légèrement accidentés comme le sable et les routes enneigées. Quelques exemples : Subaru Outback. Volkswagen Touareg, Audi Q7</p>
    </div>

  </div>
  <!-- /.row -->

<!-- /.container -->


<myfooter></myfooter>

</div>
