<div class="">

  <form class="well form-horizontal" action=" " method="post"  id="contact_form">
    <fieldset>

      <!-- Form Name -->
      <legend>Voiture Form</legend>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Marque Voiture</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="marque_voiture" placeholder="Marque Voiture" class="form-control"  type="text" [(ngModel)] ="voiture.marque_voiture">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label" >Couleur Voiture</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="couleur_voiture" placeholder="Couleur Voiture" class="form-control"  type="text" [(ngModel)] ="voiture.couleur_voiture">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Date Sortie Voiture</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="date_sortie_voiture" placeholder="Date Sortie Voiture" class="form-control" type="text" [(ngModel)] ="voiture.date_sortie_voiture">
          </div>
        </div>
      </div>
      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Nombre Portes</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="nombre_portes_voiture" placeholder="(212)6202-1212" class="form-control" type="text" [(ngModel)] ="voiture.nombre_portes_voiture">
          </div>
        </div>
      </div>
      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Nombre Coussin </label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="nombre_coussin_voiture" placeholder="Nombre Coussin" class="form-control" type="text" [(ngModel)] ="voiture.nombre_coussin_voiture">
          </div>
        </div>
      </div>
      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Nombre Personne</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="nombre_personne_voiture" placeholder="Nombre Personne" class="form-control" type="text" [(ngModel)] ="voiture.nombre_personne_voiture">
          </div>
        </div>
      </div>
      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Nombre kilometre passé</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="nombre_kilometre_voiture" placeholder="Nombre kilometre passé" class="form-control" type="text" [(ngModel)] ="voiture.nombre_kilometre_voiture">
          </div>
        </div>
      </div>
      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Nombre kilometre limté</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="nombre_kilometre_limte" placeholder="Nombre kilometre limté" class="form-control" type="text" [(ngModel)] ="voiture.nombre_kilometre_limte">
          </div>
        </div>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Type Carbirant</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="type_carbirant_voiture" placeholder="Type Carbirant" class="form-control" type="text" [(ngModel)] ="voiture.type_carbirant_voiture">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Type Voiture</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="type_voiture" placeholder="Type Voiture" class="form-control" type="text" [(ngModel)] ="voiture.type_voiture">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Boite Vitesse</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="boite_vitesse_voiture" placeholder="Boite Vitesse" class="form-control" type="text" [(ngModel)] ="voiture.boite_vitesse_voiture">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Réservoire</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="reservoire_voiture" placeholder="Réservoire" class="form-control" type="text" [(ngModel)] ="voiture.reservoire_voiture">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Bagage Voiture</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="bagage_voiture" placeholder="Bagage Voiture" class="form-control" type="text" [(ngModel)] ="voiture.bagage_voiture">
          </div>
        </div>
      </div>




      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Prix Location</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="prix_location_voiture" placeholder="Prix Location" class="form-control" type="text" [(ngModel)] ="voiture.prix_location_voiture">
          </div>
        </div>
      </div>

      <!-- Radio Button-->
      <div class="form-group">
        <label for="valider" class="col-md-4 control-label">Clim dans Voiture</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <div id="valider_location" class="btn-group">
              <a class="btn btn-primary btn-sm active" data-toggle="valider" data-title="Y">Oui</a>
              <a class="btn btn-primary btn-sm notActive" data-toggle="valider" data-title="N">NON</a>
            </div>
            <input type="hidden" name="validerr" id="validerr">
          </div>
        </div>
      </div>

      <!-- Text area-->
      <div class="form-group has-feedback">
        <label class="col-md-4 control-label">Commentaire</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <textarea class="form-control" name="commentaire_voiture" placeholder="Voiture Description" data-bv-field="comment" [(ngModel)] ="voiture.commentaire_voiture"></textarea><i style="display: none;" class="form-control-feedback" data-bv-icon-for="comment"></i>
          </div>
          <small style="display: none;" data-bv-validator="stringLength" data-bv-validator-for="comment" class="help-block">Please enter at least 10 characters and no more than 200</small><small style="display: none;" data-bv-validator="notEmpty" data-bv-validator-for="comment" class="help-block">Please supply a description of your project</small></div>
      </div>

      <!-- Success message -->
      <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <!------------------------------------------------------------->
          <button type="submit" class="btn btn-success" >Envoyer <span class="glyphicon glyphicon-send" (click)="envoyerFormule()"></span></button>
          <button type="submit" class="btn btn-primary" >Modifier <span class="glyphicon glyphicon-send" (click)="modifierFormule()"></span></button>
          <button type="submit" class="btn btn-danger" >Annuler <span class="glyphicon glyphicon-alert" (click)="annulerFormule()"></span></button>
          <!------------------------------------------------------------->
        </div>
      </div>

    </fieldset>
  </form>
</div><!-- /.container -->


<script>
  $(document).ready(function() {
    $('#contact_form').bootstrapValidator({
      // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        first_name: {
          validators: {
            stringLength: {
              min: 2,
            },
            notEmpty: {
              message: 'Please supply your first name'
            }
          }
        },
        last_name: {
          validators: {
            stringLength: {
              min: 2,
            },
            notEmpty: {
              message: 'Please supply your last name'
            }
          }
        },
        email: {
          validators: {
            notEmpty: {
              message: 'Please supply your email address'
            },
            emailAddress: {
              message: 'Please supply a valid email address'
            }
          }
        },
        phone: {
          validators: {
            notEmpty: {
              message: 'Please supply your phone number'
            },
            phone: {
              country: 'US',
              message: 'Please supply a vaild phone number with area code'
            }
          }
        },
        address: {
          validators: {
            stringLength: {
              min: 8,
            },
            notEmpty: {
              message: 'Please supply your street address'
            }
          }
        },
        city: {
          validators: {
            stringLength: {
              min: 4,
            },
            notEmpty: {
              message: 'Please supply your city'
            }
          }
        },
        state: {
          validators: {
            notEmpty: {
              message: 'Please select your state'
            }
          }
        },
        zip: {
          validators: {
            notEmpty: {
              message: 'Please supply your zip code'
            },
            zipCode: {
              country: 'US',
              message: 'Please supply a vaild zip code'
            }
          }
        },
        comment: {
          validators: {
            stringLength: {
              min: 10,
              max: 200,
              message:'Please enter at least 10 characters and no more than 200'
            },
            notEmpty: {
              message: 'Please supply a description of your project'
            }
          }
        }
      }
    })
      .on('success.form.bv', function(e) {
        $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
        $('#contact_form').data('bootstrapValidator').resetForm();

        // Prevent form submission
        e.preventDefault();

        // Get the form instance
        var $form = $(e.target);

        // Get the BootstrapValidator instance
        var bv = $form.data('bootstrapValidator');

        // Use Ajax to submit form data
        $.post($form.attr('action'), $form.serialize(), function(result) {
          console.log(result);
        }, 'json');
      });
  });



</script>
<script>
  $('#radioBtn a').on('click', function(){
    var sel = $(this).data('title');
    var tog = $(this).data('toggle');
    $('#'+tog).prop('value', sel);

    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
  })

</script>
