<div class="container">
<nav-bar></nav-bar>

<div class="profil">
<div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">
  <div class="card hovercard">
    <div class="card-background">
      <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
      <!-- http://lorempixel.com/850/280/people/9/ -->
    </div>
    <div class="useravatar">
      <img alt="" src="../../../assets/images/profile.png">
    </div>
    <div class="card-info"> <span class="card-title">AIT EL CAID HMAD</span>

    </div>
  </div>
  <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <div class="hidden-xs">Mes informations</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        <div class="hidden-xs">Mes Locations</div>
      </button>
    </div>

  </div>

  <div class="">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab1">
        <!-- start mes information -->
<br><br>
         <user-form [user]="user"></user-form>

        <!-- fin  mes information -->
      </div>

      <div class="tab-pane fade in" id="tab2">
        <!-- start mes locations -->

        

  <div class="container ">
<br><br>
      <div class="formee">
  
        <div class="row">
          <div class="col-sm-12 col-md-12"  *ngFor="let voiture of list_Voiture">
            <div class="thumbnail">
              <h4>
                {{voiture.marque_voiture}} {{voiture.date_sortie_voiture}}
                <span class="label label-info info">
                              <span data-toggle="tooltip" title="viewed">257 <b class="glyphicon glyphicon-eye-open"></b></span>
                              <span data-toggle="tooltip" title="viewed">3 <b class="glyphicon glyphicon-star"></b></span>
                              <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                          </span>
              </h4>
              <div class="col-sm-6 col-md-12  ">
                <img class="img-responsive img-thumbnail img_voiture" src="{{voiture.image_voiture}}" alt="{{voiture.type_voiture}}">
              </div>
              <span class="type_voiture"><h3>{{voiture.type_voiture}}</h3></span>
      
      
              <table class="table table-bordered table-striped table-hover">
      
                  <tr class="info">
                      <th>Marque </th>
                      <td>{{voiture.marque_voiture}}</td>
                    </tr>
                    <tr class="info">
                        <th>modèle </th>
                        <td>{{voiture.model_voiture}}</td>
                      </tr>
  
                <tr class="danger">
                  <th>Date de sortie </th>
                  <td>{{voiture.date_sortie_voiture}}</td>
      
                <tr class="warning">
                  <th>Nombre de personne </th>
                  <td>{{voiture.nombre_personne_voiture}}</td>
      
                </tr>
                <tr class="active">
                  <th>Type de carbirant </th>
                  <td>{{voiture.type_carbirant_voiture}}</td>
                </tr>
                <tr class="success">
                 <th>Prix</th>
               <td>{{voiture.prix_location_voiture}}</td>
                </tr>
              </table>
      
      
      
      
              <a routerLink="/detaille_location/{{voiture.id_voiture}}" class="btn btn-primary col-xs-12" role="button">Plus de détailles</a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
        </div>
  
      <!-- fin  mes  locations -->
      </div>

    </div>
  </div>

</div>
</div>

<myfooter></myfooter>
</div>
