<div class="container">
<nav-bar></nav-bar>
<slide-show></slide-show>

<div class="contact">
  <div class="row">
    <div class="col-sm-6">
      <div class="well form_information">
        <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Addresse :</h3>
        <p style="margin-top:6%;line-height:35%"> Siège central : 265, Bd Zerktouni N° 92</p>
        <br />
        <br />
        <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail :</h3>
        <p style="margin-top:6%;line-height:35%">sinfotech.sarl@gmail.com</p>
        <br />
        <br />
        <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Tél:</h3>
        <p style="margin-top:6%;line-height:35%">+212 6 70 05 86 34 / +212 6 63 12 95 77</p>

        <br><br><br>
        <!-- debut form -->


        <!-- fin form -->


          </div>
    </div>
    <div class="col-sm-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.5469107225667!2d-7.638674149549994!3d33.59111148063946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d2ec5286fda9%3A0x33ed6479f15e23e5!2sBCNG%3A+Centre+d&#39;affaires+et+de+domiciliation+Casablanca!5e0!3m2!1sen!2sma!4v1542039043808" width="460" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="container">
  <h3>Envoyer nous un message</h3>
  <form>
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <input type="text" class="form-control" placeholder="Your name">
    </div>

    <div class="form-group input-group has-danger">
      <span class="input-group-addon"><i class="fa fa-at"></i></span>
      <input type="text" class="form-control form-control-danger" placeholder="Your email address">
    </div>

    <div class="form-group">
      <label for="name">Votre message</label>
      <textarea class="form-control" rows="5" id="message"></textarea>
    </div>
    <div *ngIf="show" class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Succès Merci de nous avoir contacté nous vous contacterons très prochainement</div>

    <div class="col-md-4 ">
    <div class="form-group">



      <button class="btn btn-success btn-block btn-lg "  (click)="go()">
        <i class="fa fa-send-o"></i>
        Envoyer
      </button>
      </div>
    </div>
  </form>
</div>

<br><br><br><br>

<myfooter></myfooter>
</div>
