.search{
  background-color: #ff9a00;
  color: #254b62;
  text-align: left;
  font-family: ;
  font-size: ;
  margin-top: 10px;
}

search_div.{
  display: inline-block;
  max-width: 50%;

}

.video{
  padding-top:20px;
  margin-top:40px ;
  display: inline-block;

}
video{
  max-width: 400px;
  max-height: 500px;

}

.row{
  margin: 10px;
  padding: 5px;
}

button[type='submit']{
    margin-right:60px ;
}

.titre1{
  color: #a6e1ec;
  text-align: center;
  padding: 20px;

}

.img_voiture{
  border: 1px solid green;
  width:300px;
  height: 280px;

}


.thumbnail {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
}

.thumbnail > h4 {
  padding: 7px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.thumbnail h4 .info {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 0.6em;
  padding-left: 15px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 4px;
  border-radius: 0px;
  border-bottom-left-radius: 5px;
  cursor:  pointer;
}

.thumbnail h4 .info > span {
  margin-right: 10px;
}

.thumbnail img {
  width: 100%;
}
.thumbnail a.btn {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.location:after {
  content: '';
  display: block;
  clear: both;
}



ul{
  padding: 0 40 40 40px;

}

li{
  padding-top: 12px;
}

.type_voiture{

  text-align: center;


}

.imageVoiture{
  max-width: 350px;
  max-height: 300px;
}

.image_voiture{


}

.location{
  background-color: #59b4d4;
}

.cellule{
  padding: 5px;
  margin: 5px;

}
.image_cellule{
  width: 10%;
  background-color: black;
}
