<div class="container">
  <div id="main_area">
    <!-- Slider -->
    <div class="row">
      <div class="col-xs-12" id="slider">
        <!-- Top part of the slider -->
        <div class="row">
          <div class="col-sm-8" id="carousel-bounding-box">
            <div class="carousel slide" id="myCarousel">
              <!-- Carousel items -->
              <div class="carousel-inner">

                <!-- change item -->
                <div class="active item" data-slide-number="" *ngFor="let voiture of list_Voiture">
                  <img src="{{voiture.image_voiture}}">
                </div>

              </div><!-- Carousel nav -->



              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>

          <div class="col-sm-4" id="carousel-text"></div>

          <div id="slide-content" style="display: none;">


            <div id="slide-content-0" *ngFor="let voiture of list_Voiture">
              <h2>Slider One</h2>
              <p>Lorem Ipsum Dolor</p>
              <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
            </div>


          </div>
        </div>
      </div>
    </div><!--/Slider-->

    <div class="row hidden-xs" id="slider-thumbs">
      <!-- Bottom switcher of slider -->
      <ul class="hide-bullets">



        <li class="col-sm-2" *ngFor="let voiture of list_Voiture">
          <a class="thumbnail" id="carousel-selector-0"><img src="{{voiture.image_voiture}}"></a>
        </li>


      </ul>
    </div>
  </div>
</div>
