<div class="">
  <form class="  form-horizontal " action="" method="post"  id="contact_form">
    <fieldset>

      <!-- Text input-->

      <div class="form-group">

        <label class="control-label col-md-4">Nom Utilisateur</label>
        <div class=" inputGroupContainer">
          <div class="input-group col-md-8">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="nom_user" placeholder="Nom Utilisateur" class="form-control "  type="text" [(ngModel)] ="user.nom_user">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class=" control-label col-md-4" >Prenom Utilisateur</label>
        <div class="inputGroupContainer">
          <div class="input-group col-md-8">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="prenom_user" placeholder="Prenom Utilisateur" class="form-control"  type="text" [(ngModel)] ="user.prenom_user">
          </div>
        </div>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <label class=" control-label col-md-4">Tél</label>
        <div class="inputGroupContainer">
          <div class="input-group col-md-8">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="tel1_user" placeholder="(212)6202-1212" class="form-control" type="text" [(ngModel)] ="user.tel1_user">
          </div>
        </div>
      </div>
      <!-- Text input-->
      <!-- Text input-->
      <div class="form-group">
        <label class=" control-label col-md-4">E-Mail</label>
        <div class="inputGroupContainer">
          <div class="input-group col-md-8">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="email_user" placeholder="E-Mail adresse" class="form-control"  type="text" [(ngModel)] ="user.email_user">
          </div>
        </div>
      </div>


      <div *ngIf="!adminUse">
      <!-- Text input-->
      <div class="form-group">
        <label class=" control-label col-md-4">Mot de Passe</label>
        <div class="inputGroupContainer">
          <div class="input-group col-md-8">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="password_user1" placeholder="Mot de Passe" class="form-control"  type="password" [(ngModel)] ="password_user1">
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class=" control-label col-md-4">Répeter Mot de Passe</label>
        <div class="inputGroupContainer">
          <div class="input-group col-md-8">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="password_user2" placeholder="Répeter Mot de Passe" class="form-control"  type="password" [(ngModel)] ="password_user2">
          </div>
        </div>
      </div>
      </div>

  
      <!-- Text input-->

      <div class="form-group">
        <label class=" control-label col-md-4">Adresse</label>
        <div class="inputGroupContainer">
          <div class="input-group col-md-8">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input name="adresse_user" placeholder="Address" class="form-control" type="text" [(ngModel)] ="user.adresse_user">
          </div>
        </div>
      </div>
     
      <!-- Success message -->

      <!-- Button -->
      <div class="form-group">
        <label class="control-label"></label>
        <div class="col-md-12">
          <!------------------------------------------------------------->
          <button type="submit" class="btn btn-success" (click)="login()" data-dismiss="modal">Envoyer <span class="glyphicon glyphicon-send" (click)="envoyerFormule()"></span></button>
          <!--<button type="submit" class="btn btn-primary" >Modifier <span class="glyphicon glyphicon-send" (click)="modifierFormule()"></span></button> -->
          <!------------------------------------------------------------->
        </div>
      </div>

    </fieldset>
  </form>
</div><!-- /.container -->
